html,
body {
  background-color: #2f2f2f;
}

.home-page {
  padding: 10px 20px;
}

.header {
  color: #f9f9f9;
  text-align: center;
  margin-top: 50px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #0377fc;
  color: #f9f9f9;
  margin: 0 10px;
}